<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
 
</head>
<body>
    
    <div class="main-content container-fluid p-0">
        <div class="email-head">
            
            <div class="email-head-sender">
                <div class="date"> <%=obj.date%></div>
                
                <div class="sender"><a href="#"> <%=obj.name%></a> to <a href="#">me</a>
                    
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="email-body">
            <%=obj.message %>
            <br>
            <p><strong>Regards</strong>,
                <br> <%=obj.name%>
            </p>
        </div>

    </div>

</body>
</html>