<!-- Footer -->
<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
                &copy; <span class="date"></span> <%=websiteDetails.website_title%> PLC. All Right Reserved
            </div>
        </div>
        
    </div>
</footer>
</div>
</div>


<!-- Argon Scripts -->
<!-- Core -->
<script src="/js/user/jquery.min.js"></script>
<%-websiteDetails.website_footer_code%>
<script
    src="/js/user/bootstrap.bundle.min.js"></script>

<script src="/js/user/script.js"></script>

<script src="/js/user/jquery.slimscroll.js"></script>

<script src="/js/user/main-js.js"></script>


<script
    src="/js/user/js.cookie.js"></script>

<script
    src="/js/user/jquery.scrollbar.min.js"></script>
<script
    src="/js/user/jquery-scrollLock.min.js"></script>


<!-- Argon JS -->
<script src="/js/user/argon.min.js?v=1.2.0"></script>

</body>


</html>