<%-include("../../partials/header")%>


<div class="container-fluid mt--6">
       

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Password</h4>
            
                    <form id="password">
                        <div class="form-group">
                            <label for="old-password">Old Password</label>
                            <input type="text" class="form-control" id="old-password" placeholder="Enter Old Password" required="">
            
                        </div>
                        
                        <div class="form-group">
                            <label for="pin">PIN</label>
                            <input type="text" class="form-control" id="pin" placeholder="Enter Your PIN" required="">
            
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="password1">New Password</label>
                            <input type="password" class="form-control" id="password1" placeholder="New Password" required="">
                        </div>
            
                        <div class="form-group">
                            <label for="password2">Confirm New Password</label>
                            <input type="password" class="form-control" id="password2" placeholder="New Password" required="">
                        </div>
            
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Change
                            Password</button>
                    </form>
            
                </div> <!-- end card-body-->
            </div>
        </div>


        <div class="col-lg-6 d-none">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Account PIN</h4>
            
                    <form id="pin">
                        <div class="form-group">
                            <label for="pin1">New PIN</label>
                            <input type="text" class="form-control" id="pin1" placeholder="Enter New PIN" required="">
            
                        </div>
                        <div class="form-group">
                            <label for="pin2">Confirm New PIN</label>
                            <input type="text" class="form-control" id="pin2" placeholder="Confirm New PIN" required="">
                        </div>
            
                        
            
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Change
                            PIN</button>
                    </form>
            
                </div> <!-- end card-body-->
            </div>
        </div>
    </div>
<script src="/js/user/profile/security.js"></script>

<script src="/js/partials/fetcher.js"></script>
<script src="/js/partials/sweetalert.js"></script>

<%-include("../../partials/footer")%>