<ul class="pagination">
    <%if(prevBtn){%>
        <li class="page-item">
            <a class="page-link" href="<%=link%>page=<%=prevBtn%>" aria-label="Previous">
                <span aria-hidden="true">«Previous</span> </a>
        </li>

        <%}%>


            <%if(nextBtn){%>
                <li class="page-item">
                    <a class="page-link" href="<%=link%>page=<%=nextBtn%>" aria-label="Next"><span
                            aria-hidden="true">Next»</span>
                    </a>
                </li>

                <%}%>


</ul>