<div class="nav-left-sidebar sidebar-dark">
    <div class="slimScrollDiv" style="position: relative; overflow: visible; width: auto; height: 100%;">
        <div class="menu-list" style="overflow: visible; width: auto; height: 100%;">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler sidemenu" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/dashboard"><i
                                    class="fa fa-fw fa-tachometer"></i> Dashboard </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/plans"><i class="fa fa-fw fa-rocket"></i>Plans </a>
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/users"><i class="fa fa-fw fa-users"></i>Users </a>
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/proof"><i class="fa fa-fw fa-book"></i>Payment Proof </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#history"
                                aria-controls="history"><i class="fa fa-fw fa-cogs"></i>History</a>
                            <div id="history" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/history/transactions">Transactions History </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/history/withdrawal">Withdrawal History </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/history/recharge">Recharge History </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/history/upgrade">Upgrade History </a>
                                    </li>
                          
                                    
                        
                                </ul>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#settingss"
                                aria-controls="settingss"><i class="fa fa-fw fa-cogs"></i>Settings</a>
                            <div id="settingss" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/settings/websettings">Basic Settings </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/settings/identity">Indetity Settings </a>
                                    </li>
                                    
                        
                                </ul>
                            </div>
                        </li>


                        
                        
                    </ul>
                </div>
            </nav>
        </div>
        <div class="slimScrollBar"
            style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 881px;">
        </div>
        <div class="slimScrollRail"
            style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
        </div>
    </div>
</div>